In [174]:
import pandas as pd
df=pd.read_csv('spotify_all_data3.csv')

In [175]:
pd.options.display.max_rows=1000

In [176]:
df.isna().sum()

Unnamed: 0                0
Title                     0
Artist                    0
Top Genre                 0
Year                      0
Beats Per Minute (BPM)    0
Energy                    0
Danceability              0
Loudness (dB)             0
Liveness                  0
Valence                   0
Length (Duration)         0
Acousticness              0
Speechiness               0
Popularity                0
Total Followers           0
dtype: int64

In [177]:
df.shape

(1995, 16)

In [178]:
df.columns

Index(['Unnamed: 0', 'Title', 'Artist', 'Top Genre', 'Year',
       'Beats Per Minute (BPM)', 'Energy', 'Danceability', 'Loudness (dB)',
       'Liveness', 'Valence', 'Length (Duration)', 'Acousticness',
       'Speechiness', 'Popularity', 'Total Followers'],
      dtype='object')

In [179]:
df.drop(columns='Unnamed: 0',inplace=True)

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 15 columns):
Title                     1995 non-null object
Artist                    1995 non-null object
Top Genre                 1995 non-null object
Year                      1995 non-null int64
Beats Per Minute (BPM)    1995 non-null int64
Energy                    1995 non-null int64
Danceability              1995 non-null int64
Loudness (dB)             1995 non-null int64
Liveness                  1995 non-null int64
Valence                   1995 non-null int64
Length (Duration)         1995 non-null object
Acousticness              1995 non-null int64
Speechiness               1995 non-null int64
Popularity                1995 non-null int64
Total Followers           1995 non-null int64
dtypes: int64(11), object(4)
memory usage: 233.9+ KB

In [181]:
df.rename(columns={'Length (Duration)': 'Duration', 'Beats Per Minute (BPM)':'BPM','Loudness (dB)':'Loudness_db'},inplace=True)

In [182]:
#convert duration to int object and remove ,s
df['Duration'] = pd.to_numeric(df['Duration'].str.replace(',', ''))

In [105]:
#nan_rows = df[df['Total Followers'].isnull()]

In [106]:
#nan_rows

Empty DataFrame
Columns: [Title, Artist, Top Genre, Year, BPM, Energy, Danceability, Loudness_db, Liveness, Valence, Duration, Acousticness, Speechiness, Popularity, Total Followers]
Index: []

In [107]:
df['Total Followers'].describe()

count    1.995000e+03
mean     4.733885e+06
std      7.984419e+06
min      8.800000e+01
25%      3.562730e+05
50%      1.682735e+06
75%      4.995064e+06
max      6.274376e+07
Name: Total Followers, dtype: float64

In [183]:
df['Total Followers']=df['Total Followers'].astype(int)

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 15 columns):
Title              1995 non-null object
Artist             1995 non-null object
Top Genre          1995 non-null object
Year               1995 non-null int64
BPM                1995 non-null int64
Energy             1995 non-null int64
Danceability       1995 non-null int64
Loudness_db        1995 non-null int64
Liveness           1995 non-null int64
Valence            1995 non-null int64
Duration           1995 non-null int64
Acousticness       1995 non-null int64
Speechiness        1995 non-null int64
Popularity         1995 non-null int64
Total Followers    1995 non-null int64
dtypes: int64(12), object(3)
memory usage: 233.9+ KB

In [194]:
#run last
df.loc[df['Top Genre'].str.contains('pop'),'Top Genre']='pop'

In [185]:
#='punk' do this before pop
df.loc[df['Top Genre'].str.contains('punk'),'Top Genre']='punk'

In [210]:
df.loc[df['Top Genre'].str.contains('rock|prog'),'Top Genre']='rock'

In [186]:
#=hip hop/rap
df.loc[df['Top Genre'].str.contains('hip hop|rap'),'Top Genre']='hip hop/rap'

In [187]:
#='country/americana'
df.loc[df['Top Genre'].str.contains('country|americana'),'Top Genre']='country/americana'

In [188]:
#='folk'
df.loc[df['Top Genre'].str.contains('folk'),'Top Genre']='folk'

In [189]:
#='alternative' do this before changing pop/rock
df.loc[df['Top Genre'].str.contains('alternative'),'Top Genre']='alternative'

In [190]:
#=house/electronica
df.loc[df['Top Genre'].str.contains('house|electronica|electro'),'Top Genre']='dance'

In [200]:
#=singer-songwriter
df.loc[df['Top Genre'].str.contains('songwriter|songwrite'),'Top Genre']='singer-songwriter'

In [192]:
df.loc[df['Top Genre'].str.contains('metal'),'Top Genre']='metal'

In [195]:
df.loc[df['Top Genre'].str.contains('dance'),'Top Genre']='dance'

In [204]:
df.loc[df['Top Genre'].str.contains('caberet|cabaret'),'Top Genre']='cabaret'

In [207]:
df.loc[df['Top Genre'].str.contains('indie'),'Top Genre']='indie'

In [211]:
len(df['Top Genre'].value_counts())

29

In [212]:
df['Top Genre'].value_counts()

rock                 825
pop                  398
alternative          185
adult standards      110
indie                 76
cabaret               54
soul                  50
dance                 46
hip hop/rap           35
folk                  33
permanent wave        32
country/americana     30
disco                 18
funk                  13
reggae                12
mellow gold           11
carnaval limburg      10
blues                  8
singer-songwriter      8
metal                  6
chanson                6
celtic                 5
punk                   5
downtempo              4
classic                4
jazz                   4
latin                  3
opera                  2
gabba                  2
Name: Top Genre, dtype: int64

In [214]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 15 columns):
Title              1995 non-null object
Artist             1995 non-null object
Top Genre          1995 non-null object
Year               1995 non-null int64
BPM                1995 non-null int64
Energy             1995 non-null int64
Danceability       1995 non-null int64
Loudness_db        1995 non-null int64
Liveness           1995 non-null int64
Valence            1995 non-null int64
Duration           1995 non-null int64
Acousticness       1995 non-null int64
Speechiness        1995 non-null int64
Popularity         1995 non-null int64
Total Followers    1995 non-null int64
dtypes: int64(12), object(3)
memory usage: 233.9+ KB

In [217]:
df['Year'].describe()

count    1995.000000
mean     1992.980451
std        16.121720
min      1956.000000
25%      1979.000000
50%      1993.000000
75%      2007.000000
max      2019.000000
Name: Year, dtype: float64

In [218]:
#dataset is from 2019
#creating new column for years since release to see impact in model
df['yrs_since_release'] =  df['Year'].map(lambda x: 2019-x)

In [226]:
#creating a new column for word count in title
df['word_count_in_title']=df['Title'].map(lambda x: len(x.split(' ')))

In [228]:
#creating dummies for genres so categorical data can be used in modeling
genre_dummy = pd.get_dummies(df['Top Genre'],prefix = 'Genre')
df = pd.concat([df, genre_dummy], axis = 1)

In [231]:
#dropping one genre to avoid multicollinearity 
df.drop(columns='Genre_permanent wave',inplace=True)

In [234]:
df.columns

Index(['Title', 'Artist', 'Top Genre', 'Year', 'BPM', 'Energy', 'Danceability',
       'Loudness_db', 'Liveness', 'Valence', 'Duration', 'Acousticness',
       'Speechiness', 'Popularity', 'Total Followers', 'yrs_since_release',
       'word_count_in_title', 'Genre_adult standards', 'Genre_alternative',
       'Genre_blues', 'Genre_cabaret', 'Genre_carnaval limburg',
       'Genre_celtic', 'Genre_chanson', 'Genre_classic',
       'Genre_country/americana', 'Genre_dance', 'Genre_disco',
       'Genre_downtempo', 'Genre_folk', 'Genre_funk', 'Genre_gabba',
       'Genre_hip hop/rap', 'Genre_indie', 'Genre_jazz', 'Genre_latin',
       'Genre_mellow gold', 'Genre_metal', 'Genre_opera', 'Genre_pop',
       'Genre_punk', 'Genre_reggae', 'Genre_rock', 'Genre_singer-songwriter',
       'Genre_soul'],
      dtype='object')

In [237]:
df

,Title,Artist,Top Genre,Year,BPM,Energy,Danceability,Loudness_db,Liveness,Valence,...,Genre_latin,Genre_mellow gold,Genre_metal,Genre_opera,Genre_pop,Genre_punk,Genre_reggae,Genre_rock,Genre_singer-songwriter,Genre_soul
0,Sunrise,Norah Jones,pop,2004,157,30,53,-14,11,68,...,0,0,0,0,1,0,0,0,0,0
1,Black Night,Deep Purple,rock,2000,135,79,50,-11,17,81,...,0,0,0,0,0,0,0,1,0,0
2,Clint Eastwood,Gorillaz,hip hop/rap,2001,168,69,66,-9,7,52,...,0,0,0,0,0,0,0,0,0,0
3,The Pretender,Foo Fighters,alternative,2007,173,96,43,-4,3,37,...,0,0,0,0,0,0,0,0,0,0
4,Waitin' On A Sunny Day,Bruce Springsteen,rock,2002,106,82,58,-5,10,87,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990,Heartbreak Hotel,Elvis Presley,adult standards,1958,94,21,70,-12,11,72,...,0,0,0,0,0,0,0,0,0,0
1991,Hound Dog,Elvis Presley,adult standards,1958,175,76,36,-8,76,95,...,0,0,0,0,0,0,0,0,0,0
1992,Johnny B. Goode,Chuck Berry,rock,1959,168,80,53,-9,31,97,...,0,0,0,0,0,0,0,1,0,0
1993,Take Five,The Dave Brubeck Quartet,jazz,1959,174,26,45,-13,7,60,...,0,0,0,0,0,0,0,0,0,0
1994,Blueberry Hill,Fats Domino,adult standards,1959,133,50,49,-10,16,83,...,0,0,0,0,0,0,0,0,0,0

In [238]:
#save cleaned df to new csv to read into EDA and modeling notebooks
df.to_csv('song_data_final.csv')